.container{
    position: absolute;
    width: 642px;
    height: 1024px;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 642px;
    height: 1024px;
    background: #F9F9F9;

    opacity: 0.9;
    }
    
    
    .logo2{
        transform: rotate(90deg);
        transform: translate(-70px,20px); 
    }
    .logo{
        display: flex;
        margin-top: 60px;
        margin-left: 90px;

    }
    .textlogo{
       
        width: 354px;
        height: 29px;
       
        
        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 89px;
     
        
        color: #1565D8;
    }
    .dot{
        margin-top: 80px;
        margin-left: 410px;
    }
    .doticon{
        width: 80px;
        height: 70px;
    }
    .cc{
width: 336px;
height: 418px;

        margin-left: 210px;
        margin-top: -80px;
    }
    
    .cicon{
        width: 30px;
        height: 20px;
        margin-left: 90px;
    }
    .pa{
        margin-top: 60px;
    }
    .paragragh{
        margin-left: 90px;
        font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    width: 383px;
    height: 164px;
    color: #696F79;
    }
    .h{
        margin-left: 90px;
    width: 124px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    align-items: center;
    color: #696F79;
    }
    
    .rk{
        
    width: 33.5px;
    height: 33px;
    margin-left: 420px;
    
    background: #FFFFFF;
    transform: matrix(-1, 0, 0, 1, 0, 0);}