.page1{
    display: grid;
    gap: 400px 50px;
    grid-template-columns: auto auto;
    
    padding: 10px;
}

.page2{
    display: grid;
    gap: 400px 50px;
    grid-template-columns: auto auto;
    
    padding: 10px;
}