.page1{
    display: grid;
    gap: 400px 50px;
    grid-template-columns: auto auto;
    
    padding: 10px;
}
*{
    background: #F9F9F9;
}
.page2{
    display: grid;
    gap: 400px 50px;
    grid-template-columns: auto auto;
    
    padding: 10px;
}

.con{
    display: flex;
    background: #F9F9F9;
  }

  