.container{
    
    /* background:url(../../assets/images/bg.png);  */
     background-position: 50%;
    background-size: cover;
    flex-basis: 50%;
  
    }
    
    .container .leftSide{
        /* background: #1565d8;
        background-size: cover; */
        height: 89%;
        opacity: .9;
        padding: 58px 82px;
    }
.logo2{
    transform: rotate(90deg);
    transform: translate(-45px,19px); 
}
.logo{
    display: flex;
    margin-top: 60px;
    margin-left: 90px;
    margin-bottom: 200px;
}
.textlogo{
color: white;
font-family: 'Raanana';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
padding-top: 30px;
margin-left: -40px;
}
.dot{
    margin-top: 80px;
    margin-left: 410px;
}
.doticon{
    width: 80px;
    height: 70px;
}
.cicon{
    width: 30px;
    height: 20px;
    margin-left: 90px;
}

.pa{
    margin-top: 60px;
}
.paragragh{
    margin-left: 90px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 38px;
width: 383px;
height: 164px;
color: #FFFFFF;
}
.h{
    margin-left: 90px;
width: 124px;
height: 38px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
align-items: center;
color: #FFFFFF;
}
.img-edge{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
}
